html
    head
        meta(charset="utf-8")
        meta(http-quiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="view-port", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        title!= title
        link(rel="stylesheet", type="text/css", href="#{cdn.host}semantic/dist/semantic.min.css?#{cdn.version}")
    body
        div(class="ui large top fixed hidden menu")
            div(class="ui container")
                a(class="active item") Home
                a(class="item") Work
                div(class="right menu")
                    div(class="item")
                        a(class="ui button") Log in
                    div(class="item")
                        a(class="ui primary button") Sign up

        div(ng-app="geekModule")


        div
            script(src="#{cdn.host}bower_components/jquery/dist/jquery.min.js?#{cdn.version}")
            script(src="#{cdn.host}semantic/dist/semantic.min.js?#{cdn.version}")
            script(type="text/javascript").