div.ui.purple.inverted.menu
    a.active.item
        i.users.icon
        | #{__('EJS/html 转成 Jade/pug')}
    a.item(href="https://github.com/Jeff-Tian/geek", target="_blank")
        i.github.alternate.icon
        | #{__('源代码')}
    a.item(href="//jijiyy.me", target="_blank")
        i.pointing.right.icon
        | #{__('更多叽歪出品')}
    div.right.menu
        a.item(href="#{otherLocaleLink}")
            i.world.icon
            | #{__(otherLocale)}
